/cli/target
/server/target

/example/coastguard-dev-config-priv.toml
/server/target

/client/npm/node_modules

/example/faulty-typescript-typescript/dist
/example/faulty-typescript-typescript/node_modules
/clieht/npm/dist

/example/faulty-typescript-test/node_modules

.DS_Store
server/.DS_Store
