.error_backdrop_row .Rows_backdrop_row1_left_content_header {
    font: lighter;
    /* color: red; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub_children {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2px;
}

.sub_children p {
    font-size: 11px;
}

.event_count {
    font-size: 13px;
    padding: 6px;
    background-color: rgb(198, 198, 198);
    border-radius: 14px;
}

.no_more_errors {
    align-self: center;
    margin-top: 10px;
}